<nav>
  <h1 class="logo"><a href="/">My Bookshelf</a></h1>
  <ul>
    <li><a class="button" href="/">All Books</a></li>
    <li><a class="button __special" href="/books/add">Add a Book</a></li>
  </ul>
</nav>